@font-face {
    font-family: 'audreybold';
    src: url('audrey-bold-webfont.woff2') format('woff2'),
        url('audrey-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'audreybold_italic';
    src: url('audrey-boldoblique-webfont.woff2') format('woff2'),
        url('audrey-boldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'audreymedium';
    src: url('audrey-medium-webfont.woff2') format('woff2'),
        url('audrey-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'audreymedium_oblique';
    src: url('audrey-mediumoblique-webfont.woff2') format('woff2'),
        url('audrey-mediumoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: audreyregular;
    src: url('audrey-normal-webfont.woff2') format('woff2'),
        url('audrey-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'audreyitalic';
    src: url('audrey-normaloblique-webfont.woff2') format('woff2'),
        url('audrey-normaloblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


header {
    position: fixed;
    /*    background-image: linear-gradient(rgb(242, 232, 175), rgba(0, 0, 0, 0));*/
    /*    width: 100%;*/
    /*    margin: 0 100px 0 100px;*/
    width: 100%;

}

header button {
    font-family: audreyregular;
    color: white;
}

header nav {

    display: flex;
    flex-direction: column;
    align-items: center;





}

header nav a {
    font-family: audreyregular;
    text-decoration: none;

}


.navbar {
    overflow: scroll;
    /*    background-image: linear-gradient(rgb(219, 218, 212), rgba(0, 0, 0, 0));*/
    display: flex;
    background-color: #242A31;



}

.navbar a {
    float: right;


    text-align: center;

    text-decoration: none;
}

.dropdown_headings,
.dropdown_bodytexts {
    float: left;
    overflow: hidden;
}



.alle {
    float: right;


    text-align: center;

    text-decoration: none;

}


.dropdown_headings .dropbtn,

.dropdown_bodytexts .dropbtn,
.all .dropbtn {

    border: none;
    outline: none;
    background-color: transparent;

    padding: 14px 16px;


    margin: 0;
}

.navbar a:hover {}

.dropdown_headings:hover .dropbtn {}

.dropdown-content {
    display: none;
    position: sticky;
    min-width: 100px;

    z-index: 1;
}

.dropdown-content a {
    float: none;



    display: flex;
    text-align: right;
}

.dropdown-content a:hover {}

.dropdown_headings:hover .dropdown-content,

.dropdown_bodytexts:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
