        @font-face {
            font-family: simplifica;
            src: url('font/simplifica_typeface-webfont.woff2') format('woff2'),
                url('font/simplifica_typeface-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }

        img {


            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;

        }

        .data-container {

            margin: 0 auto;
            padding: 20px 10px 30px 10px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            background-color: #f4f4f4;

            grid-gap: 20px;






        }

        .backgroundbox {
            background-color: white;
            padding: 50px;
            box-shadow: 5px 5px 3px -5px rgba(0, 0, 0, 0.41);

            width: 300px;
            height: 400px;
            cursor: pointer;

        }

        article {
            place-self: center center;

        }

        article p {
            max-width: 300px;
        }

        .splash {

            background-color: rgb(10, 192, 247);
            padding: 150px 0 95px 0;


        }

        .splash p {
            font-family: simplifica;
            text-align: center;
            color: white;
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 10px;
            margin: 0;
        }

        h1 {
            font-family: simplifica;
            text-align: center;
            color: white;
            font-size: 3rem;
            font-weight: 100;
            letter-spacing: 10px;
            margin: 0;

        }

        .splash p {
            font-size: 1.5rem;
        }


        p {
            margin-left: 5px;
            font-family: aileron;
            font-size: 1.2rem;
            font-weight: 200;
        }

        h3 {
            margin-left: 5px;
            font-family: aileron;
            font-size: 1.2rem;
        }



        .logo {
            cursor: pointer;
        }

        header {
            position: absolute;
        }

        nav {
            background-color: #242A31;
            display: grid;
            grid-template-columns: 100px 1fr;
            grid-template-rows: 1fr;
            font-family: audrey;
            font-size: 1.1rem;
            position: fixed;
            width: 100%;



        }

        .list_wrapper {
            display: flex;
            justify-content: center;
            margin: 0;
            grid-row: 1;
            grid-column: 1/3;
            align-self: center;
            padding: 30px 0 30px 0;

        }



        li {
            cursor: pointer;

        }

        ul {
            list-style-type: none;
            padding: 0;
            color: white;
        }

        .headings ul {}

        .headings {
            padding-right: 20px;
        }

        .body_texts {}

        .all {
            padding-right: 20px;
        }

        .dropdown_content li {
            padding: 10px;
            /*
            border: 1px solid white;
            border-radius: 5px;
*/
            margin-bottom: 10px;




        }

        .dropdown_content:nth-child(1) {
            padding-top: 25px;
        }






        .dropdown_content {
            display: none;
            /*            position: absolute;*/
            /*                background-color: #242A31;*/

            z-index: 1;
            margin: 0;
            border-radius: 10px;
        }

        .dropdown_content a {
            /*                padding: 0;*/

        }

        .headings:hover .dropdown_content {
            display: flex;


            flex-direction: column;

        }

        .body_texts:hover .dropdown_content {
            display: flex;
            flex-direction: column;
        }



        .logo {
            display: none;
            width: 100px;
            height: 75px;
            grid-row: 1;
            grid-column: 1;
            padding: 5px;
        }


















        @media screen and (min-width:768px) {

            body {}

            .backgroundbox {
                background-color: white;
                padding: 50px;
                /*            box-shadow: 5px 10px black;*/
                /*
            width: 200px;
            height: 300px;
*/
            }

            .logo {
                display: block;
            }

            h1 {

                font-size: 7rem;

            }

            .splash p {
                font-size: 1rem;
            }

            article {
                padding: 70px 0 0 0;
                align-self: start;
            }

            article p {
                max-width: 300px;
            }





            nav {
                background-color: #242A31;
                display: grid;
                grid-template-columns: 100px 1fr;
                grid-template-rows: 1fr;
                font-family: audrey;
                font-size: 1.2rem;
                position: fixed;
                width: 100%;


            }

            .list_wrapper {
                display: flex;
                justify-content: center;
                margin: 0;
                grid-row: 1;
                grid-column: 1/3;
                align-self: center;
                padding: 0;
            }

            .span_left {
                width: 2px;
                height: 20px;
                background-color: white;
                /*                margin: 0px 25px 0px 50px;*/

            }

            .span_right {
                width: 2px;
                height: 20px;
                background-color: white;
                /*                margin: 0px 50px 0px 25px;*/
            }



            ul {
                list-style-type: none;
                padding: 0;
                color: white;
            }

            .headings ul {}

            .headings {
                margin: 0px 50px 0px 50px;

            }

            .body_texts {
                margin: 0px 50px 0px 50px;
            }

            .all {
                margin: 0px 50px 0px 50px;
            }

            .dropdown_content li {
                padding: 10px;



            }

            .dropdown_content:nth-child(1) {
                padding-top: 25px;
            }






            .dropdown_content {
                display: none;
                position: absolute;
                /*                background-color: #242A31;*/
                background: rgb(36, 42, 49);
                background: linear-gradient(180deg, rgba(36, 42, 49, 1) 19%, rgba(146, 166, 190, 0.9374124649859944) 100%);
                color: white;
                z-index: 1;
                margin: 0;
                border-radius: 10px;
            }

            .dropdown_content a {
                /*                padding: 0;*/

            }

            .headings:hover .dropdown_content {
                display: flex;


                flex-direction: column;

            }

            .body_texts:hover .dropdown_content {
                display: flex;
                flex-direction: column;
            }

            .logo {
                width: 100px;
                height: 75px;
                grid-row: 1;
                grid-column: 1;
                padding: 5px;
            }


        }

        @media screen and (min-width:934px) {



            h1 {
                font-size: 8rem;
            }

            .splash p {
                font-size: 2rem;
            }
        }


        @media screen and (min-width:1220px) {




            h1 {
                font-size: 10rem;
            }

            body {}

            article {
                padding: 70px 0 0 0;
            }

            .wrapper {
                max-width: 90vw;
                margin: 0 auto;
            }

            nav {
                max-width: 90vw;

            }

        }






































        /*DROPDOWN------------------------*/

        @font-face {
            font-family: 'audreybold';
            src: url('font/audrey-bold-webfont.woff2') format('woff2'),
                url('font/audrey-bold-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }




        @font-face {
            font-family: 'audreybold_italic';
            src: url('font/audrey-boldoblique-webfont.woff2') format('woff2'),
                url('font/audrey-boldoblique-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }




        @font-face {
            font-family: 'audreymedium';
            src: url('font/audrey-medium-webfont.woff2') format('woff2'),
                url('font/audrey-medium-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }




        @font-face {
            font-family: 'audreymedium_oblique';
            src: url('font/audrey-mediumoblique-webfont.woff2') format('woff2'),
                url('font/audrey-mediumoblique-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }




        @font-face {
            font-family: audrey;
            src: url('font/audrey-normal-webfont.woff2') format('woff2'),
                url('font/audrey-normal-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }




        @font-face {
            font-family: 'audreyitalic';
            src: url('font/audrey-normaloblique-webfont.woff2') format('woff2'),
                url('font/audrey-normaloblique-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }





        /*DETALJEVIEW*/
